.mat-toolbar-single-row {
  background: linear-gradient(45deg, #6944ff, #6944ff);
  box-shadow: 0 5px 50px 0 rgb(108, 68, 252), 0 0 0 7px rgba(107, 74, 255, 0.5);
}

mat-toolbar{
  border-radius: 3px;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover, a:active{
    color: lightgray;
  }

  .navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0;
  }
}
