.review-rating{
  font-size: 0.9em;
  color: #6944ff;
}

.header-page {
  margin: 25px 5px;
}

.content-card {
  margin: 25px 5px;
  box-shadow: 0 1px 50px 0 rgb(108, 68, 252), 0 0 0 1px rgba(107, 74, 255, 0.5);
}

.wd-50 {
  min-width: 50px;
  max-width: 50px;
}
